@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.active{
  background-color: rgb(229, 185, 153);
  border-color: rgb(16, 3, 115);
}

@media (min-width: 768px) {
    .md\:text-center {
        text-align: center;
    }
}

*{
  font-family: Outfit;
}